<h1>Admin::Tags#edit</h1>
<%= form_for [:admin , @tag] do |f|%>
	<%= render 'validation_errors', object: @tag%>
	<div>
		<%= f.label :name%><br>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.button :submit%>
	</div>
<% end %>
